<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section 
			name="assetbuilder" 
			type="BinaryAssetBuilder.SerializedSectionHandler,BinaryAssetBuilder.Core" />
		<section
		  name="SqlMetricsListener"
		  type="System.Configuration.NameValueFileSectionHandler"/>
    <section
      name="BABFileMetricsListener"
      type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="antlr.runtime" publicKeyToken="65e474d141e25e07" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="2.7.6.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="antlr.runtime" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="2.7.6.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<assetbuilder 		
		serializedType="BinaryAssetBuilder.Settings,BinaryAssetBuilder.Core"
		schema="..\schemas\xsd\CnC3Types.xsd"		
		dataRoot=".."
		defaultArtPaths=".\Art" 
		defaultAudioPaths=".\Audio;" 
		defaultDataPaths=".;.\Mods;.\Cnc3Xml" 		
    >

    <plugins>
      		<plugin
				assetTypes="TerrainTextureAtlas,Texture,OnDemandTexture"
				enabled="true" 
				targetType="BinaryAssetBuilder.TextureCompiler.Plugin, BinaryAssetBuilder.TextureCompiler"
				/>
			<plugin
				assetTypes="AudioFile,AudioFileMP3Passthrough"
				enabled="true" 
				targetType="BinaryAssetBuilder.AudioCompiler.Plugin, BinaryAssetBuilder.AudioCompiler"
				/>
			<plugin
				assetTypes="W3DAnimation"
				enabled="true" 
				targetType="BinaryAssetBuilder.W3XCompiler.Plugin, BinaryAssetBuilder.W3XCompiler"
				/>
			<plugin
				assetTypes="#all"
				enabled="true" 
				targetType="BinaryAssetBuilder.XmlCompiler.Plugin, BinaryAssetBuilder.XmlCompiler"
				/>
		</plugins>

		<verifiers>
			<plugin
				assetTypes="#all"
				enabled="true" 
				targetType="BinaryAssetBuilder.GameDataVerifier.Plugin, BinaryAssetBuilder.GameDataVerifier"
				/>
		</verifiers>

    <buildConfigurations>
		<buildConfiguration name="LowLOD" postfix="L" />
	</buildConfigurations>

  </assetbuilder>

</configuration>
